

@{
    ViewData["Title"] = "Home Page";
}

<div class="list">
    <ul>
        <li class="list-group-item"><span><a asp-controller="Students" asp-action="Index">Четене и обобщаване на данните от файлове с дейности и оценки</a></span></li>
        <li class="list-group-item"><span><a asp-controller="DataAnalysis" asp-action="Frequency" asp-area="">Честотно разпределение</a></span></li>
        <li class="list-group-item"><span><a asp-controller="DataAnalysis" asp-action="Tendency">Мерки на централната тенденция</a></span></li>
        <li class="list-group-item"><span><a asp-controller="DataAnalysis" asp-action="Distraction">Мерки на разсейване</a></span></li>
        <li class="list-group-item"><span><a href="#">Корелационен анализ</a></span></li>
        @*<li class="list-group-item"><a asp-controller="Students" asp-action="FileSubmissions">Качване на упражнение</a></li>*@
    </ul>

    @*<form asp-controller="Home" asp-action="UploadStudentsGrades" method="POST" enctype="multipart/form-data">
        <input type="file" id="myFile" name="uploadedFile">
        <input type="submit">
    </form>*@
</div>
