@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul class="list-group">
        <li class="list-group-item"><a asp-controller="Students" asp-action="Index">Четене и обобщаване на данните от файлове с дейности и оценки</a></li>
        <li class="list-group-item"><a href="#">Честотно разпределение</a></li>
        <li class="list-group-item"><a href="#">Мерки на централната тенденция</a></li>
        <li class="list-group-item"><a href="#">Мерки на разсейване</a></li>
        <li class="list-group-item"><a href="#">Корелационен анализ</a></li>
        <li class="list-group-item"><a asp-controller="Students" asp-action="FileSubmissions">Качване на упражнение</a></li>

    </ul>

    <form asp-controller="Home" asp-action="UploadStudentsGrades" method="POST" enctype="multipart/form-data">
        <input type="file" id="myFile" name="uploadedFile">
        <input type="submit">
    </form>
</div>
