<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <a asp-action="UploadFiles">Качване на упражнение</a>
        </div>
        <div class="col-sm-5">
            <ul>
                <li>Test</li>
                <li>Test</li>
            </ul>
        </div>
    </div>
</div>