
<div class="text-center">
    <ul class="list-group">
        <li class="list-group-item"><a asp-controller="Students" asp-action="StudentsActivities">Дейности на студента</a></li>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Оценки на студента
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a asp-controller="Students" asp-action="FirstYearStudentsGrades">От първа година</a></li>
                <li><a asp-controller="Students" asp-action="SecondYearStudentsGrades">От втора година</a></li>
                <li role="separator" class="divider"></li>
            </ul>
        </div>
    </ul>
</div>